.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Courier New";
    -fx-control-inner-background: #1d1d1d;
    -fx-background: #1d1d1d;
    -fx-base: #1d1d1d;
}

.button, .table-view {
    -fx-border-radius: 0 0 0 0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0 0 0 0;
}

.table-view .button {
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 0;
    -fx-background-radius: 0 0 0 0;
}

.text-field {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

#tbv_vars .table-column {
    -fx-alignment: CENTER-LEFT;
}

#tbv_vars .table-row-cell {
    -fx-cell-size: 33px;
}

#tbv_vars .table-row-cell:pressed {
    -fx-base: white;
    -fx-background: rgb(225, 228, 203);
}