#gpn_number_pad {
    -fx-font-size: 20pt;
}

#btn_parens {
    -fx-font-family: "Arial";
    -fx-font-size: 17pt;
}

#btn_save_as_var, #btn_backspace, #btn_clear, #btn_undo, #btn_redo {
    -fx-padding: 0pt;
    -fx-font-size: 13pt;
}

#lbl_precision_name, #lbl_precision_value, #sld_precision, #chk_show_redundant_zero, #chk_use_scientific_notation {
    -fx-padding: 10 10 0 10;
    -fx-font-size: 13pt;
}