#gpn_number_pad {
    -fx-font-size: 20pt;
}

#btn_parens {
    -fx-font-family: "Arial";
    -fx-font-size: 17pt;
}

#btn_save_as_var, #btn_backspace, #btn_clear, #btn_undo {
    -fx-padding: 0pt;
    -fx-font-size: 13pt;
}